<div id="formulario">
  <fieldset>
    <form>
      <legend>Formulário de Contato</legend>
      <div>
        <label for="txtNome">Nome</label>
        <input type="text" id="txtNome" [value]="nome" placeholder="Informe o nome">
      </div>
      <div>
        <label for="txtEmail">Email</label>
        <input type="email" id="txtEmail" [value]="email" placeholder="Informe o email">
      </div>
      <div>
        <label for="txtTelefone">Telefone</label>
        <input type="tel" id="txtTelefone" [value]="telefone" placeholder="Informe o telefone">
      </div>
      <div>
        <button type="button" (click)="exibeNaConsole()">Enviar</button>
      </div>
    </form>
  </fieldset>
</div>